@font-face {
	font-family: 'groovy-15767';
	src:url('groovy-15767.eot?jk3qnc');
	src:url('groovy-15767.eot?jk3qnc#iefix') format('embedded-opentype'),
		url('groovy-15767.ttf?jk3qnc') format('truetype'),
		url('groovy-15767.woff?jk3qnc') format('woff'),
		url('groovy-15767.svg?jk3qnc#icomoon1') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="groovy-15767"],
[class*=" groovy-15767"] {
	font-family: 'groovy-15767';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.groovy-15767-horn:before {
	content: '\e664';
}.groovy-15767-Add:before {
	content: '\e600';
}.groovy-15767-Anchor:before {
	content: '\e601';
}.groovy-15767-Attach:before {
	content: '\e602';
}.groovy-15767-Award:before {
	content: '\e603';
}.groovy-15767-Bin:before {
	content: '\e604';
}.groovy-15767-Bluetooth:before {
	content: '\e605';
}.groovy-15767-Book:before {
	content: '\e606';
}.groovy-15767-Calendar:before {
	content: '\e607';
}.groovy-15767-Cancelmark:before {
	content: '\e608';
}.groovy-15767-Card:before {
	content: '\e609';
}.groovy-15767-Card-add:before {
	content: '\e60a';
}.groovy-15767-Cart:before {
	content: '\e60b';
}.groovy-15767-CD:before {
	content: '\e60c';
}.groovy-15767-Chat:before {
	content: '\e60d';
}.groovy-15767-Check:before {
	content: '\e60e';
}.groovy-15767-Checklist:before {
	content: '\e60f';
}.groovy-15767-Checkmark:before {
	content: '\e610';
}.groovy-15767-Clock:before {
	content: '\e611';
}.groovy-15767-Cloud:before {
	content: '\e612';
}.groovy-15767-Coins:before {
	content: '\e613';
}.groovy-15767-Deliver:before {
	content: '\e614';
}.groovy-15767-Delivery:before {
	content: '\e615';
}.groovy-15767-Dialpad:before {
	content: '\e616';
}.groovy-15767-Diamond:before {
	content: '\e617';
}.groovy-15767-Display:before {
	content: '\e618';
}.groovy-15767-Divide:before {
	content: '\e619';
}.groovy-15767-Dollar:before {
	content: '\e61a';
}.groovy-15767-Earth:before {
	content: '\e61b';
}.groovy-15767-Empty-cart:before {
	content: '\e61c';
}.groovy-15767-Empty-folder:before {
	content: '\e61d';
}.groovy-15767-Equal:before {
	content: '\e61e';
}.groovy-15767-Equalizer:before {
	content: '\e61f';
}.groovy-15767-Fingerprint:before {
	content: '\e620';
}.groovy-15767-Flag:before {
	content: '\e621';
}.groovy-15767-Flower:before {
	content: '\e622';
}.groovy-15767-Folder:before {
	content: '\e623';
}.groovy-15767-Full-screen:before {
	content: '\e624';
}.groovy-15767-Glasses:before {
	content: '\e625';
}.groovy-15767-Heart:before {
	content: '\e626';
}.groovy-15767-Home:before {
	content: '\e627';
}.groovy-15767-ID:before {
	content: '\e628';
}.groovy-15767-Laptop:before {
	content: '\e629';
}.groovy-15767-Left:before {
	content: '\e62a';
}.groovy-15767-Light-bulb:before {
	content: '\e62b';
}.groovy-15767-Link:before {
	content: '\e62c';
}.groovy-15767-List:before {
	content: '\e62d';
}.groovy-15767-Lock:before {
	content: '\e62e';
}.groovy-15767-Loop:before {
	content: '\e62f';
}.groovy-15767-Mac:before {
	content: '\e630';
}.groovy-15767-Mail:before {
	content: '\e631';
}.groovy-15767-Man:before {
	content: '\e632';
}.groovy-15767-Map:before {
	content: '\e633';
}.groovy-15767-Media:before {
	content: '\e634';
}.groovy-15767-Menu:before {
	content: '\e635';
}.groovy-15767-Mic:before {
	content: '\e636';
}.groovy-15767-Mobile:before {
	content: '\e637';
}.groovy-15767-Multiply:before {
	content: '\e638';
}.groovy-15767-Music:before {
	content: '\e639';
}.groovy-15767-Note:before {
	content: '\e63a';
}.groovy-15767-OFF:before {
	content: '\e63b';
}.groovy-15767-ON:before {
	content: '\e63c';
}.groovy-15767-Open:before {
	content: '\e63d';
}.groovy-15767-Open-Mail:before {
	content: '\e63e';
}.groovy-15767-OS:before {
	content: '\e63f';
}.groovy-15767-Pencil:before {
	content: '\e640';
}.groovy-15767-Phone:before {
	content: '\e641';
}.groovy-15767-Photo:before {
	content: '\e642';
}.groovy-15767-Picture:before {
	content: '\e643';
}.groovy-15767-Pin:before {
	content: '\e644';
}.groovy-15767-Play:before {
	content: '\e645';
}.groovy-15767-Potion:before {
	content: '\e646';
}.groovy-15767-Printer:before {
	content: '\e647';
}.groovy-15767-Radio:before {
	content: '\e648';
}.groovy-15767-Rain:before {
	content: '\e649';
}.groovy-15767-Right:before {
	content: '\e64a';
}.groovy-15767-Scissors:before {
	content: '\e64b';
}.groovy-15767-Scope:before {
	content: '\e64c';
}.groovy-15767-Send:before {
	content: '\e64d';
}.groovy-15767-Servers:before {
	content: '\e64e';
}.groovy-15767-Settings:before {
	content: '\e64f';
}.groovy-15767-Shut-down:before {
	content: '\e650';
}.groovy-15767-Signal:before {
	content: '\e651';
}.groovy-15767-Star:before {
	content: '\e652';
}.groovy-15767-Station:before {
	content: '\e653';
}.groovy-15767-Substract:before {
	content: '\e654';
}.groovy-15767-Sun:before {
	content: '\e655';
}.groovy-15767-Tablet:before {
	content: '\e656';
}.groovy-15767-Tag:before {
	content: '\e657';
}.groovy-15767-Target:before {
	content: '\e658';
}.groovy-15767-Thumbs:before {
	content: '\e659';
}.groovy-15767-Thunder:before {
	content: '\e65a';
}.groovy-15767-Timer:before {
	content: '\e65b';
}.groovy-15767-Unlock:before {
	content: '\e65c';
}.groovy-15767-Up:before {
	content: '\e65d';
}.groovy-15767-Upload:before {
	content: '\e65e';
}.groovy-15767-Watch:before {
	content: '\e65f';
}.groovy-15767-Web:before {
	content: '\e660';
}.groovy-15767-WIfi:before {
	content: '\e661';
}.groovy-15767-Window:before {
	content: '\e662';
}.groovy-15767-Women:before {
	content: '\e663';
}