#toplevel_page_crane-theme-dashboard a .dashicons-admin-generic::before {
  content: '';
  background: url("../images/wp/crane.svg") center no-repeat; }

#crane-error-notice {
  font-weight: bold; }

.gm-needs-to-update-first .gm-dashboard__global-settings-btn,
.gm-needs-to-update-first .crane-admin-import {
  display: none !important; }

.gm-needs-to-update-first .gm-dashboard-header__btn-group .gm-needs-to-update-placeholder {
  color: #fff;
  max-width: 300px;
  text-align: center; }

.gm-needs-to-update-first .gm-dashboard-header__btn-group p {
  font-size: 14px; }

.gm-needs-to-update-first .crane-admin-page .gm-needs-to-update-placeholder {
  z-index: 999;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
          box-shadow: 0 3px 6px rgba(42, 42, 42, 0.26);
  padding: 24px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .gm-needs-to-update-first .crane-admin-page .gm-needs-to-update-placeholder p {
    font-size: 16px; }
